/**
 *
 * FORM
 *
 */
.form {
  display: flex;
  flex-direction: column;
}

/* FORM - HEADER */
.form .form-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;
}

/* FORM - HEADER | TITLE */
.form .form-header .form-title {
  font-size: 42px;
  font-weight: 900;
  color: var(--text-color-primary);
}
.form .form-header .form-title i {
  font-style: normal;
  color: var(--base-primary);
}

/* FORM - HEADER | SUBTITLE */
.form .form-header .form-subtitle {
  margin-top: .5rem;
  font-size: 18px;
  color: var(--text-color-secondary);
}

/* FORM - MIDDLE */
.form .form-middle {
  border-bottom: 1px solid var(--background-color-secondary);
  border-top-left-radius: var(--border-radius-primary);
  border-top-right-radius: var(--border-radius-primary);
  background-color: var(--background-color-primary);
  padding: 1rem;
}

/* FORM - FOOTER */
.form .form-footer {
  display: flex;
  justify-content: space-between;
  border-bottom-left-radius: var(--border-radius-primary);
  border-bottom-right-radius: var(--border-radius-primary);
  background-color: var(--background-color-primary);
  padding: 1rem 1rem .5rem 1rem;
}

/* FORM - FOOTER | CATEGORIES */
.form .form-footer .form-categories {
  display: flex;
  flex-direction: column;
}

/* FORM - FOOTER | CATEGORIES - ERROR */
.form .form-footer .form-categories .error {
  user-select: none;
  display: block;
  margin-bottom: .75rem;
  font-size: 12px !important;
  color: var(--danger-primary) !important;
}
.form .form-footer .form-categories input.error ~ label {
  border-color: var(--danger-primary);
}

/* FORM - FOOTER | CATEGORIES - LIST */
.form-categories .categories-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

/* FORM - FOOTER | CATEGORIES - INPUT */
.form-categories .categories-list input {
  position: absolute;
  left: -9999px;
  width: 0;
  height: 0;
  visibility: hidden;
}

/* FORM - FOOTER | CATEGORIES - LABEL */
.form-categories .categories-list label {
  user-select: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto; height: 24px;
  border: 1px solid var(--text-color-secondary);
  border-radius: 2.5rem;
  background-color: transparent;
  margin: 0 .5rem .5rem 0;
  padding: 0 .75rem;
  font-size: 11px;
  font-weight: 500;
  color: var(--text-color-secondary);
  transition: border-color .15s ease-in-out,  .15s ease-in-out, color .15s ease-in-out;
  cursor: pointer;
}
.form-categories .categories-list label:hover {
  border-color: var(--text-color-primary);
  background-color: var(--background-color-secondary);
  color: var(--text-color-primary);
}
.form-categories .categories-list input:checked + label {
  border-color: var(--base-primary);
  background-color: var(--base-primary);
  color: var(--text-color-primary);
}
.form-categories .categories-list input:checked + label::after {
  opacity: 1;
}
.form-categories .categories-list.danger input:checked + label {
  border-color: var(--danger-primary);
  background-color: var(--danger-primary);
}

/* FORM - FOOTER | CATEGORIES - ACTION */
.form .form-footer .form-action {
  display: flex;
  justify-content: center;
  margin: 0 0 .5rem 1rem;
}

.form .form-footer .form-action button {
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px; height: 24px;
  border: 1px solid var(--text-color-secondary);
  border-radius: 50%;
  background-color: transparent;
  font-size: 12px;
  color: var(--text-color-secondary);
  transition: border-color .15s ease-in-out,  .15s ease-in-out, color .15s ease-in-out;
  cursor: pointer;
}
.form .form-footer .form-action button:hover {
  border-color: var(--text-color-primary);
  background-color: var(--background-color-secondary);
  color: var(--text-color-primary);
}
.form .form-footer .form-action button:last-child {
  margin-left: .5rem;
}